<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Update Password</title>
</head>
<body>
    <div class = "container-sm">
        <form action = "{{ url_for('change_password', email=email, login_type = login_type)}}" method = "POST">
            <div class = "card-body">
                <div class="form-group">
                    <label for="oldpass">Enter Current Password</label>
                    <input type="text" name="oldpass" required class="form-control">
                </div>
                <div class="form-group">
                    <label for="newpass">Enter New Password</label>
                    <input type="password" name="newpass" required class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirmpass">Confirm New Password</label>
                    <input type="password" name="confirmpass" required class="form-control">
                </div>
                <div class = "card-body">
                <button type="submit" class="btn btn-primary">UPDATE</button>
                <a class="btn btn-success" href="{{url_for('display_personal_info', email = email, login_type = login_type)}}" role="button">Go Back</a>
                </div>
            </div>
        </form>
        {% if error %}
            <p class="error"><strong>Message :</strong> {{ error }}
        {% endif %}
    </div>
</body>
</html>