<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Professor</title>
</head>
<body>
    <div align = "right">
        <p align = "right">Email ID: {{email}}</p>
        <a align = "left" class="btn btn-success" href="/" role="button">Logout</a>
    </div>
    <div class = "container-sm">
        <a class = "btn btn-success" href="{{ url_for('display_personal_info', email=email, login_type = 'Professor')}}" role = "button">Display Personal Information</a>
    </div>
    <div class = "container-sm">
        <table class = "table table-dark">
            <tr>
                <th scope = "col">Teaching Course</th>
                <th scope = "col">Section</th>
            </tr>
            <tbody>
                {% for course, section in course%}
                <tr>
                    <td><a href= "{{ url_for('display_teaching', email = email, course_id=course, section = section)}}">{{course}}</a></td>
                    <td>{{section}}</td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>